.admin-panel {
    padding: 2rem;
}
.admin-welcome{
    align-items: center;
    text-align: center;
}
.p-img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

h2 {
    color: aliceblue;
}
h3{
    padding: 20px 0 10px 0;
}